numpy
pandas
matplotlib
tqdm
pyspark >= 3.4.0
pyarrow
scikit-learn
torch
torchvision
torchaudio
librosa
sox
ffmpeg-python
lightning
torchmetrics
# ensure that you're loading the environment correctly on PACE via activate script
pacmap
wandb
tensorflow
birdnetlib

luigi
google-api-python-client
google-auth
google-cloud-storage

# developer tools
jupyterlab
ruff
pre-commit
pytest
